.file-box{
    display: flex ;
    background-color: rgba(255, 255, 255, 0) ;
    padding-left :5px;
    transition: 0.7s ;
    padding-top :2px;
    padding-bottom: 2px ;
}

.file-box .file-logo{
    font-size: 12px ;
    font-family: cursive ;
    width :40px !important;
}

.file-box .file-name{
    font-family: 'Courier New', Courier, monospace ;
    color: white ;
    font-weight: bold ;
}

.file-box .file-name h3{
    width :max-content;
    font-size: 12px ;
    padding-top :2.5px;
}

.file-box:hover{
    background-color: rgba(255, 255, 255, 0.233) ;
    cursor: pointer;
    transition: 0.7s ;
}


